/* SPEXT */

.spext-text {
    position: absolute;
    width: 136.72px;
    height: 32.41px;
    left: 83.28px;
    top: 35px;
}

/* Group */

.spext-icon {
    position: absolute;
    width: 34px;
    height: 53px;
    left: 36px;
    top: 36.25px;
}

/* www.spext.co */

.spext-url {
    position: absolute;
    width: 131px;
    height: 21px;
    left: 83px;
    top: 72px;
    font-style: normal;
    font-weight: normal;
    line-height: 15px;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.106667px;
    color: #ffffff;
}

.spext-media-converter {
    width: 100%;
    height: 15px;
    font-style: normal;
    font-weight: bold;
    line-height: 15px;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0.106667px;
    color: #ffffff;
}

.select-files-text {
    font-style: normal;
    font-weight: bold;
    line-height: 15px;
    font-size: 35px;
    text-align: center;
    letter-spacing: 0.106667px;
    color: #ffffff;
}

.left-margin-upload {
    margin-left: 84px;
}

.separator {
    width: 272px;
    height: 0px;
    border: 3px solid #21a4ac;
    display: inline-block;
}

.index-count {
    width: 58px;
    height: 103px;
    font-style: normal;
    font-weight: bold;
    line-height: 15px;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.106667px;
    color: #7a8488;
}

.output-format {
    width: 863px;
    height: 15px;
    font-style: normal;
    font-weight: bold;
    line-height: 15px;
    font-size: 35px;
    text-align: center;
    letter-spacing: 0.106667px;
    color: #7a8488;
}

.resolution {
    width: 863px;
    height: 15px;
    font-style: normal;
    font-weight: bold;
    line-height: 15px;
    font-size: 35px;
    text-align: center;
    letter-spacing: 0.106667px;
    color: #7a8488;
}

.top {
    padding-top: 208px;
}

.align-center {
    margin: auto;
    text-align: center;
}

.index-text {
    width: 863px;
    height: 15px;
    font-style: normal;
    font-weight: bold;
    line-height: 15px;
    font-size: 35px;
    text-align: center;
    letter-spacing: 0.106667px;
    color: #7a8488;
}

.selector-btn {
    width: 287px;
    height: 120px;
    border: 4px solid #7a8488;
    box-sizing: border-box;
    background: #324851;
}

.selector-btn-text {
    font-style: normal;
    font-weight: bold;
    line-height: 15px;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.106667px;
    color: #7a8488;
}

.convert-btn {
    margin-top: 100px;
    width: 360px;
    height: 111px;
    background: #7a8488;
    border-radius: 15px;
    cursor: pointer;
    .convert-text {
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        line-height: 15px;
        font-size: 35px;
        text-align: center;
        letter-spacing: 0.106667px;
        color: #ffffff;
    }
}

.spext-character {
    position: absolute;
    width: 700px;
    left: 1174px;
    top: 1257px;
}